@model List<Amount>






<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <tr>
            <th>#</th>
            <th>Başlık</th>
            <th>Miktar</th>
            <th>Gelir/Gider</th>
            <th>Edit/Remove</th>
        </tr>

        @{
            var count = 1;
            @foreach (var item in Model)
            {
                <tr>
                    <td>@count</td>
                    <td>@item.name</td>
                    <td>@item.amount</td>
                    <td>@item.type_</td>
                    <td>
                        <a class="btn btn-outline-warning"  href="/amount/update/@item.id">
                            Edit
                        </a>

                        <a class="btn btn-outline-danger"  href="/amount/delete/@item.id">
                            Remove
                        </a>

                    </td>
                </tr>
                count = count + 1;
            }
        }

    </table>


</div>