@model Amount

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}


<div class="d-flex justify-content-center align-items-center">
    <div class="col-md-4">
        <form asp-controller="Amount" asp-action="Add" method="post" class="row g-3">

            <div asp-validation-summary="ModelOnly" class="col-12 text-danger"></div>

            <div class="col-12">
                <label for="name" class="form-label">İşlem</label>
                <input type="text" class="form-control" asp-for="name">
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="col-12">
                <label for="amount" class="form-label">Miktar</label>
                <input type="number" class="form-control" asp-for="amount">
                <span asp-validation-for="amount" class="text-danger"></span>
            </div>
            <div class="col-12">
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-success me-2 flex-grow-1" name="actionType" value="Gelir" style="height:50px" asp-controller="Amount" asp-action="Add">Gelir</button>
                    <button type="submit" class="btn btn-danger flex-grow-1" name="actionType" value="Gider" asp-controller="Amount" asp-action="Add">Gider</button>
                </div>
            </div>
        </form>
    </div>
</div>






    @*butonlar doğru çalışıyor ama form doldurulurken entera basınca kaydetmesini ayarlayamadım.*@


