@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor




@if (@Context.Session.GetInt32("id") != null)
{
    <!-- Oturum açıldıysa -->
    <nav class="navbar navbar-dark bg-primary navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#a">
                <img src="/lib/budget.png" alt="Bootstrap" width="50" height="44">
            </a>
            <a class="navbar-brand" href="#b">Finance</a>

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#c">Ana Sayfa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#d">Profil</a>
                </li>
            </ul>
            <button type="button" class="btn btn-outline-light">Çıkış Yap</button>

        </div>
    </nav>
}
else
{
    <!-- Oturum açılmadıysa -->
    <nav class="navbar navbar-dark bg-primary navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#a">
                <img src="/lib/budget.png" alt="Bootstrap" width="50" height="44">
            </a>
            <a class="navbar-brand" href="#b">Finance</a>

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#c">Ana Sayfa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#d">Oturum Açılmamış</a>
                </li>
            </ul>
            <button type="button" class="btn btn-outline-light">Çıkış Yap</button>

        </div>
    </nav>
}
