@model Category

<form asp-controller="Category" asp-action="Create" method="post">
    
    <label>user_id</label><br>
    <input asp-for="user_id"><br>
    <label>name</label><br>
    <input asp-for="name"><br><br>
    <button type="submit">Ekle</button>
</form>



