@model Category

<form asp-controller="Category" asp-action="Update" method="post">
    <label>id</label><br>
    <input asp-for="id"><br>
    <label>user_id</label><br>
    <input asp-for="user_id"><br>
    <label>name</label><br>
    <input asp-for="name"><br><br>
    <button type="submit">Güncelle</button>
</form>



