@model User

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

<div class="d-flex justify-content-center align-items-center" style="min-height: 60vh;">
    <div class="col-md-4">
        <div class="m-4"></div>

        <form asp-controller="User" asp-action="Create" method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label for="nick_name" class="form-label">Takma İsim</label>
                <input type="text" class="form-control" asp-for="nick_name">
                <span asp-validation-for="nick_name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">E-mail Adresi</label>
                <input type="email" class="form-control" asp-for="email">
                <span asp-validation-for="email" class="text-danger"></span>

            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Şifre</label>
                <input type="password" class="form-control" asp-for="password">
                <span asp-validation-for="password" class="text-danger"></span>

            </div>
            <button type="submit" class="btn btn-primary" style="width: 100%; display: block; font-size: 18px;">
                Kayıt Ol
            </button>

            <div class="m-4"></div>

            <div style="text-align: center;">
                <p>Zaten bir hesabınız var mı? <a asp-controller="User" asp-action="GoToCreate">Hemen giriş yapın!</a> </p>
            </div>

        </form>





    </div>
</div>

<style>
    .form-control {
        width: 100%;
        height: 40px;
    }

    .custom-alert {
        max-width: 300px; /* İstediğiniz genişliği ayarlayın */
        margin: 10px auto; /* Merkezde görünmesi için */
    }
</style>